/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}
.icon_placement{
    position: absolute;
    bottom: 1px;
    right: 0px;
    color: #777575;
    cursor: pointer;
}